h1 {
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}
li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

.btn-primary {
  background: #885df1;
  border-color: #885df1;
}
.btn-secondary {
  background: #342f54;
  border-color: #342f54;
}
.container {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  max-width: 700px;
  margin: 30px auto;
  color: #5e5656;
  background-color: rgb(246, 246, 234);
}
.weather-app {
  padding: 20px;
  border: 1px solid #c6ccd2;
  border-radius: 10px;
  background-color: white;
}

.temperature-container {
  margin-top: 30px;
}

.temperature-container.active:hover {
  text-decoration: none;
}
.temperature {
  color: #212121;
  margin-left: 10px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
}

.units {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  position: relative;
  line-height: 1;
}
.justify-content-end {
  justify-content: flex-end !important;
}
